
body {
    font-family: "Roboto", sans-serif;
    color: black;
    margin: 0;
    background: cover;
    background-image: url("screenshots/beer.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-color: black;
}

.results-amount {
    border: 1px solid black;
    font-size: 12px;
    text-align: center;
}

.submit {
    border: 1px solid black;
}

.hidden {
    display: none;
}

h1  {
    text-align: center;
    font-size: 50px;
}

.search-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: auto;
    border: 1px solid black;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-radius: 8px;
}

legend {
    text-align: center;
}

p {
    margin: 10px;
    display: flex;
    width: auto;
    justify-content: left;
}



.results-amount {
    margin: auto;
    width: 50px;
    height: 25px;
    padding: 0px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 6px;
}

.submit {
    background-color: transparent;
    width: 80px;
    height: 18px;
    margin: auto;
    border-radius: 6px;
    padding: 1px;
    font-size: 12px;
}



.submit:hover {
    cursor: pointer;
}

.results-amount:hover {
    cursor: text;
}


/*Results Styling*/

.results-display-container {
    margin: auto;
}

.single-result {
    border: 1px solid rgb(177, 175, 175);
    margin: auto;
    border-radius: 8px;
    box-shadow: -1px 2px rgb(209, 209, 209);
    padding: 15px;
    width: 1000px;
    margin-bottom: 15px;
}
